{% extends 'LivreBase.html.twig' %}

{% block centre %}
    <h5>La liste des codes barre</h5>
    <div class="corps" style="width:90%; font-family:Spinner; font-size:20px;">
        {% for code in codes %}

            <p style=" text-align:center; float:left;"> <div class="cercle"></div> &nbsp; <b style="color:rgb(219,91,67);"> {{ code.code }}: </b> </p>
            <p> &nbsp; &nbsp; &nbsp; Ajouté le {{ code.dateEcriture|date ('Y-m-d à  H:i') }} par {{ code.RapporteurNom }}&nbsp;{{ code.RapporteurPrenom }} </p>
        {% else %}
            <br> <b style="width:80%;height:100px; margin-left:420px; font-size:20px;">Aucun code barre n'a été ajouté</b>
        {% endfor %}
        <br> <br>
        <b class="paginate"> {{ knp_pagination_render(codes) }}
        </b>
    </div>
    <button class="btnUser" style="margin-left:480px; margin-bottom:80px;background-color:rgb(241,239,240);"><a href="{{ path('showLivre', {'id': livre.id}) }}" >Retour à l'arbre du livre</a> </button>

{% endblock %}


