{% extends 'indexBase.html.twig' %}

{% block centre %}
    <h5>La liste des codes barre</h5>
    <div class="corps" style="width:90%; font-family:Spinner; font-size:20px;"> <br>
        {% for code in codes %}

            <p style=" text-align:center; float:left;"> <div class="cercle"></div> &nbsp; <b style="color:rgb(219,91,67);"> {{ code.code }}: </b> </p>
            <p> &nbsp; &nbsp; &nbsp; <b> Titre du livre: </b>  {{ code.idLivre.titre }}</p>
            <p style="float:left;margin-top:0px;"> &nbsp; &nbsp; &nbsp; Ajouté le {{ code.dateEcriture|date ('Y-m-d à  H:i') }} par {{ code.RapporteurNom }}&nbsp;{{ code.RapporteurPrenom }}
            <b style="float:right;">{{ include('code_barre/_delete_form.html.twig') }}</b> </p> <br> <br> <br> <br>
        {% else %}
            <br> <b style="width:80%;height:100px; margin-left:420px; font-size:20px;">Aucun code barre n'a été ajouté</b>
        {% endfor %}
        <br> <br>
        <b class="paginate"> {{ knp_pagination_render(codes) }}
        </b>
    </div>
    <button class="btnUser" style="margin-left:480px; margin-top:50px; margin-bottom:80px;background-color:rgb(241,239,240); height:50px;"> <a href="{{ path('voir_tous') }}">Retour à la liste de gestion des éléments</a></button>

{% endblock %}


