{{ form_start(form,{'action': path('question_new',{'id':id})}) }}
<table style="margin-top:20px;">
    <tr>
        <td>
            <label> Votre nom: </label>
        <td>
            <label> Votre prénom: </label>
        </td>
    </tr>
    <tr>
        <td>
            {{ form_row(form.auteurNom, {'label': false, 'attr': {'style':'width: 280px; height: 35px; border-radius: 10px; border-color:rgb(63,80,72);
    border-width:3px;background-color:rgb(245,243,244);'}}) }}
        </td>
        <td>
            {{ form_row(form.auteurPrenom, {'label': false, 'attr': {'style':'width: 280px; height: 35px; border-radius: 10px; border-color:rgb(63,80,72);
    border-width:3px; background-color:rgb(245,243,244);'}}) }}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <label> Votre adresse mail: </label>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {{ form_row(form.mail, {'label': false, 'attr': {'style':'width: 580px; height: 35px; border-radius: 10px; border-color:rgb(63,80,72);
    border-width:3px;  background-color:rgb(245,243,244);'}}) }}
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:left;">
            <label> Votre question: </label>
        </td>
    </tr>
    <tr> <td colspan="2" style="text-align:center;">
            {{ form_row(form.question, {'label': false, 'attr': {'style':'width: 580px; height: 90px; border-radius: 10px; border-color:rgb(63,80,72);
    border-width:3px;  background-color:rgb(245,243,244);'}}) }}
        </td> </tr>
    <tr> <td colspan="2" style="text-align:center;">
            <button class="enregistrer" >{{ button_label|default('Enregistrer') }}</button>
        </td> </tr>
</table>
{{ form_end(form) }}
