{% extends 'LivreBase.html.twig' %}

{% block centre %}
    <h5>Les questions </h5>
    {% for question in questions %}
        <div class="corps2"> <a href="{{ path('reponse_index',{'idLivre':livre.id, 'idQuestion':question.id}) }}">
            <div class="bandeauPetit"> <b>Ajouté le {{ question.dateEcriture|date ('Y-m-d à  H:i') }}  par {{ question.auteurNom }}&nbsp;{{ question.auteurPrenom }}</b></div>
            <div class="zoneDeux"><b>Adresse mail :</b> {{ question.mail }} </div>
            <div class = "LeText"> {{ question.question }}</div>
            <div class="reponse">{% set size = question.reponses | length %}
                    <b>Nombre de réponses : {{ size }}</b> <br>
            </div>
            </a>
        </div>
        {% else %}
            <div class="corps2" style="width:80%;height:100px; text-align:center; font-size:20px; ">
              <br> <b>Aucune question n'a été posé.</b>
            </div>
        {% endfor %}
    <br> <br>
    <b class="paginate"> {{ knp_pagination_render(questions) }}
    </b>
    <button class="btnUser" style="margin-left:480px;margin-top:50px; margin-bottom:80px;background-color:rgb(241,239,240);"><a href="{{ path('showLivre', {'id': livre.id}) }}" >Retour à l'arbre du livre</a> </button>

        {% endblock %}
