{{ form_start(form, {'action': path('image_action',{'id':id})}) }}
<table>
    <tr>
        <td>
            <label > Votre nom: </label>
        </td>
        <td>
            <label > Votre prénom: </label>
        </td>
    </tr>
    <tr>
        <td>
            {{ form_row(form.auteurNom, {'label': false, 'attr': {'style':'width: 300px; height: 40px;  border-radius: 10px; border-color:rgb(63,80,72);
    border-width:3px; margin-top:5px;  margin-bottom:20px; background-color:rgb(245,243,244);'}}) }}
        </td>
        <td>
            {{ form_row(form.auteurPrenom, {'label': false, 'attr': {'style':'width: 300px; height: 40px;  border-radius: 10px; border-color:rgb(63,80,72);
    border-width:3px; margin-top:5px;  margin-bottom:20px;  background-color:rgb(245,243,244);'}}) }}
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <label > Nom de l'image: </label>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            {{ form_row(form.nom, {'label': false, 'attr': {'style':'width: 300px; height: 40px;  border-radius: 10px; border-color:rgb(63,80,72);
    border-width:3px; margin-top:5px;  margin-bottom:10px; background-color:rgb(245,243,244);'}}) }}
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:center;">
            {{ form_row(form.image, {'label': false, 'attr': {'style': 'font-family:Spinnaker; font-weight:bold;font-size:18px; margin-top:15px;  margin-bottom:30px; '}}) }}
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:center;">
            <button class="btn">{{ button_label|default('Enregister') }}</button>
        </td>
    </tr>

    {{ form_end(form) }}

