{% extends 'base.html.twig' %}

{% block title %}Son index{% endblock %}

{% block body %}
    <h1>Son index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Son</th>
                <th>AuteurNom</th>
                <th>AuteurPrenom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for son in sons %}
            <tr>
                <td>{{ son.id }}</td>
                <td>{{ son.nom }}</td>
                <td>{{ son.son }}</td>
                <td>{{ son.auteurNom }}</td>
                <td>{{ son.auteurPrenom }}</td>
                <td>{{ son.description }}</td>
                <td>
                    <a href="{{ path('son_show', {'id': son.id}) }}">show</a>
                    <a href="{{ path('son_edit', {'id': son.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('son_new') }}">Create new</a>
{% endblock %}
