{% extends 'LivreBase.html.twig' %}

{% block centre %}
    <h5>Les fichiers audio</h5>
    <div class="corps" style="width:90%; font-family:Spinner; font-size:20px;">
        {% for son in sons %}

            <p style=" text-align:center; float:left;"> <div class="cercle"></div> &nbsp; <b style="color:rgb(219,91,67);"> {{ son.nom }} </b>, ajouté le {{ son.dateEcriture|date ('Y-m-d à  H:i') }} par {{ son.auteurNom }}&nbsp;{{ son.auteurPrenom }} <b> <a href="{{ path('son_show', {'idLivre': livre.id,'id': son.id}) }}" target="_blank"  style="display:inline-block;float:right;"> Ecouter cette musique </a> </b></p>
            <p style="margin-left:30px;"><b> Description du fichier: </b>  {{ son.description}} </p>

        {% else %}
            <br> <b style="width:80%;height:100px; margin-left:420px; font-size:20px;">Aucun fichier audio n'a été ajouté</b>
        {% endfor %}
        <br> <br>
        <b class="paginate"> {{ knp_pagination_render(sons) }}
        </b>
    </div>
    <button class="btnUser" style="margin-left:480px; margin-bottom:80px;background-color:rgb(241,239,240);"><a href="{{ path('showLivre', {'id': livre.id}) }}" >Retour à l'arbre du livre</a> </button>

{% endblock %}


