{% extends 'indexBase.html.twig' %}

{% block centre %}
    <h5>Les évènements </h5>
    {% for evenement in evenements %}
        <div class="corps2">
            <div class="bandeauPetit"> <b>Ajouté le {{ evenement.dateEcriture|date ('Y-m-d à  H:i') }}  par {{ evenement.rappoteurNom }}&nbsp;{{ evenement.rapporteurPrenom }}</b></div>
            <div class = "zoneDeux">
                <b>{{ evenement.intitule }}</b>
            </div>
            <div class = "LeText">{{ evenement.description|nl2br }} <br><br>
                <b> Date de l'évènement: &nbsp;</b> {{ evenement.date |date ('Y-m-d à  H:i') }} <br>
                <b> Lien d'inscription:&nbsp; <a href="{{ evenement.lien }}" target="_blank" >{{ evenement.lien }}</a> </b><br>
                <b> Titre du livre: </b>  {{ evenement.idLivre.titre }} <br> <br> <br>
                {{ include('evenement/_delete_form.html.twig') }}
            </div>
        </div>
    {% else %}
        <div class="corps2" style="width:80%;height:100px; text-align:center; font-size:20px;">
            <br> <b>Aucun évènement n'a été ajouté.</b>
        </div>
    {% endfor %}
    <br> <br>
    <b class="paginate"> {{ knp_pagination_render(evenements) }}
    </b>
    <button class="btnUser" style="margin-left:480px; margin-top:50px; margin-bottom:80px;background-color:rgb(241,239,240); height:50px;"> <a href="{{ path('voir_tous') }}">Retour à la liste de gestion des éléments</a></button>

{% endblock %}
