{% extends 'indexBase.html.twig' %}


{% block centre %}

    <div class="corps" style="width:80%;">
    <h2 style="color:#3f5048; font-size:40px; margin-top:70px; text-align:center; margin-bottom:50px;">La liste des livres ajoutés</h2>

    <table class="table" style="width:80%;position:center;margin:auto;font-family:Spinnaker; font-size:19px; " >
        <tbody>
        {% for livre in livres %}
        <tr>
            <tr>
            <td><li>{{ livre.titre }} écrit par {{ livre.auteur }}</li> </td>
            <td><li style="list-style-type: none; font-weight:bold; "><a href="{{ path('showLivre', {'id': livre.id}) }}">Afficher l'arbre du livre</a> </li></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2" style="text-align:center;font-weight:bold; font-family:Spinnaker; font-size:20px;">Vous n'avez ajouté aucun livre !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btnUser" style="margin-left:200px; margin-top:50px; margin-bottom:40px;background-color:rgb(241,239,240);"><a href="{{ path('showUser', {'id': app.user.id}) }}" >Retour au profil</a> </button> <button class="btnUser" style="background-color:rgb(241,239,240);"> <a href="{{ path('livre_new')}}">Ajouter un livre</a> </button>
    </div>
{% endblock %}
