{{ form_start(form,{'action': path('conseil_new',{'id':id})}) }}
<table style="margin-bottom: -20px;" >
    <tr>
        <td>
            <label> Votre nom: </label>
        <td>
            <label> Votre prénom: </label>
        </td>
    </tr>
    <tr>
        <td>
            {{ form_row(form.RapporteurNom, {'label': false, 'attr': {'style':'width: 280px; height: 35px; border-radius: 10px; border-color:rgb(63,80,72);
    border-width:3px;background-color:rgb(245,243,244);'}}) }}
        </td>
        <td>
            {{ form_row(form.RapporteurPrenom, {'label': false, 'attr': {'style':'width: 280px; height: 35px; border-radius: 10px; border-color:rgb(63,80,72);
    border-width:3px; background-color:rgb(245,243,244);'}}) }}
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:left;">
            <label>Votre conseil : </label>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:left;">
            {{ form_row(form.conseilText, {'label': false, 'attr': {'style':'width:590px; height: 100px; border-radius: 10px; border-color:rgb(63,80,72);
    border-width:3px;  background-color:rgb(245,243,244); margin-bottom:10px;'}}) }}
        </td>
    </tr>
    <tr> <td colspan="2" style="text-align:center;">
            <button class="enregistrer" >{{ button_label|default('Enregistrer') }}</button>
        </td> </tr>
</table>
{{ form_end(form) }}
