{% extends 'base.html.twig' %}

{% block title %}Conseil{% endblock %}

{% block body %}
    <h1>Conseil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conseil.id }}</td>
            </tr>
            <tr>
                <th>ConseilText</th>
                <td>{{ conseil.conseilText }}</td>
            </tr>
            <tr>
                <th>RapporteurNom</th>
                <td>{{ conseil.RapporteurNom }}</td>
            </tr>
            <tr>
                <th>RapporteurPrenom</th>
                <td>{{ conseil.RapporteurPrenom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('conseil_index') }}">back to list</a>

    <a href="{{ path('conseil_edit', {'id': conseil.id}) }}">edit</a>

    {{ include('conseil/_delete_form.html.twig') }}
{% endblock %}
