{% extends 'base.html.twig' %}

{% block title %}Document index{% endblock %}

{% block body %}
    <h1>Document index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>Type</th>
                <th>AuteurNom</th>
                <th>AuteurPrenom</th>
                <th>Fichier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.intitule }}</td>
                <td>{{ document.type }}</td>
                <td>{{ document.auteurNom }}</td>
                <td>{{ document.auteurPrenom }}</td>
                <td>{{ document.fichier }}</td>
                <td>
                    <a href="{{ path('document_show', {'id': document.id}) }}" target="_blank">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
