{% extends 'base.html.twig' %}

{% block title %}Document{% endblock %}

{% block body %}
    <h1>Document</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ document.intitule }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ document.type }}</td>
            </tr>
            <tr>
                <th>AuteurNom</th>
                <td>{{ document.auteurNom }}</td>
            </tr>
            <tr>
                <th>AuteurPrenom</th>
                <td>{{ document.auteurPrenom }}</td>
            </tr>
            <tr>
                <th>Fichier</th>
                <td>{{ document.fichier }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('document_index') }}">back to list</a>

    <a href="{{ path('document_edit', {'id': document.id}) }}">edit</a>

    {{ include('document/_delete_form.html.twig') }}
{% endblock %}
